<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Swarachakra for Chrome Extension</title>
        <meta name="description" content="This is the options page of Swarachakra for chrome extension.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
      </head>
      <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <h2>List of manual settings that should be a part of the Swarachakra Plugin</h2>
        <h4>Version 1</h4>
        <ul>
          <li>Keyboard Width</li>
          <li>Keyboard Colours</li>
          <li>Click or Drag</li>
        </ul>
        <h4>Version 2</h4>
        <ul>
          <li>Click or Drag</li>
          <li>Language Switcher is inbuilt and not for individual langauges.</li>
      </body>
</html>
