@import "variables.scss";

#swarachakra_keyboardcontainer {
  max-width: 564px;
  min-width: 564px;
  max-height: 120*$fives;
  position: fixed;
  bottom: 0px;
  left: 20*$fives;
  right: 20*$fives;
  margin: 0 auto;
  overflow: hidden;
  background: $swarachakra-body;
  z-index: $z-index-high;
  font-family: $font-stack;
  .swarachakra_header {
    float: left;
    width: 97.2%; /*TODO: WTF? */
    height: 4 * $fives;
    vertical-align: middle;
    padding: 8px;
    margin-bottom: $fives;
    background: $swarachakra-header;
    color: $white;
    cursor: pointer;
    border-radius: $fives $fives 0 0;
    .toggler {
      float: right;
      margin-right: 3 * $fives;
    }
  }
  .swarachakra_firstcolumn {
    margin-left: 2px;
  }
  .swarachakra_lastcolumn,
  .swarachakra_firstcolumn {
    width: 48px;
  }
  .swarachakra_maintable1,
  .swarachakra_maintable2 {
    width: 232px;
  }
  .swarachakra_maintable1,
  .swarachakra_maintable2 {
    margin-left: 1px;
  }
  .swarachakra_maintable1,
  .swarachakra_maintable2,
  .swarachakra_lastcolumn,
  .swarachakra_firstcolumn {
    table {
      border-spacing: $fives;
    }
  }
  .swarachakra_maintable1,
  .swarachakra_maintable2,
  .swarachakra_lastcolumn,
  .swarachakra_firstcolumn,
  .swarachakra_lastrow {
    float: left;
    table {
      margin: 0 auto;
      text-align: center;
      tbody {
        tr {
          td {
            width: 46px !important;
            height: 10 * $fives !important;
            text-align: center;
            border-radius: $fives;
            color: $white;
            background: $swarachakra-button;
            &:hover {
              background: $swarachakra-button-hover;
              cursor: pointer;
            }
            span {
              z-index: $z-index-low;
              font-size: $font-size-default;
            }
          }
        }
      }
    }
  }
  .swarachakra_lastrow {
    margin-top: -1 * $fives;
    float: left;
    margin-left: 1px;
    #swarachakra_spacebar {
      width: 48 * $fives !important;
    }
  }
  table {
    display: inline-block;
  }
  .swarachakra_enterkey span img {
    width: 18px;
    height: 18px;
  }
}

#swarachakra_chakra {
  width: 220px;
  height: 220px;
  position: absolute;
  z-index: $z-index-monumental;
  g {
    fill: $swarachakra-chakra-path;
    &:hover {
      fill: $swarachakra-chakra-path-hover;
      cursor: pointer;
    }
    text {
      font-size: $font-size-chakra;
      fill: $white;
    }
  }
}