/* All the variables are declared here */
/* The keyboard colors, fonts, basic positioning. */

// Keyboard colors

$white: #FFFFFF;
$black: #000000;

$swarachakra-header: #03181c;
$swarachakra-header-hover: #03181c;

$swarachakra-body: #eee;
$swarachakra-body-hover: #eee;

$swarachakra-button: #010b0d;
$swarachakra-button-hover: #05252b;

$swarachakra-chakra-path: #010b0d;
$swarachakra-chakra-path-hover: #05252b;

$swarachakra-chakra-ellipse: #05252b;
$swarachakra-chakra-path-ellipse: #05252b;

// positioning and z indexes.

$z-index-low: 10;
$z-index-high: 1000000;
$z-index-monumental: 100000000000;
$fives: 5px;

// fonts

$font-size-default: 20px;
$font-size-chakra: 24px;
$font-stack: "Open Sans", Helvetica, sans-serif;